 <% include ../partials/header.ejs%>

    <header class="bg-info text-white">
      <div class="container text-center">
        <h1><img src="/images/logo.png" alt="Minhas Séries" /></h1>
        <p class="lead">Gerencie suas séries com Express + Mongo + NodeJS</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Séries</h2>
            <p class="lead"><a href="/series/new" class="btn btn-info">Adicionar série</a></p>
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <th>Nome da Série</th>
                <th>Status</th>
                <th>Ações</th>
              </thead>
              <tbody>
              <% series.forEach( serie => { %>
                <tr>
                  <td><%= serie.name %></td>
                  <td>
                    <% labels.forEach(label => { %>

                      <% if(label.id === serie.status ) { %>
                        <%= label.name%>
                      <% } %>
                      
                    <% }) %>

                  </td>
                  <td>
                    <a href="/series/update/<%= serie._id%>" class="btn btn-info">Atualizar</a>
                    <a href="/series/delete/<%= serie._id%>" class="btn btn-danger">Excluir</a>
                  </td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  

<% include ../partials/footer.ejs%>