 <% include ../partials/header.ejs%>

    <header class="bg-info text-white">
      <div class="container text-center">
        <h1><img src="/images/logo.png" alt="Minhas Séries" /></h1>
        <p class="lead">Gerencie suas séries com Express + Mongo + NodeJS</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Atualizar série</h2>
            <p class="lead"><a href="/series" class="btn btn-info">Volta a lista de séries</a></p>
            <form method="POST">
              <div class="form-group">
                <label for="name">Nome da Série</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Informe o nome da Série" value="<%= serie.name %>">
                <small id="emailHelp" class="form-text text-muted">Nome da Série a ser assistida</small>
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status">
                  <% labels.forEach( label => {%>
                    <option value="<%= label.id %>"<% if(label.id === serie.status) { %> selected="selected"<% } %> ><%= label.name%></option>
                  <%})%>
                </select>
              </div>
              <button type="submit" class="btn btn-info">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  

<% include ../partials/footer.ejs%>